.unsplash__cont {
  background-color: var(--black);
}
.unsplash__list {
  width: 100%;
  columns: 4;
  column-gap: 20px;
}
.unsplash__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  background: #f9f9f9;
}

.unsplash__search {
  background: var(--black);

  .container {
    position: relative;
  }

  h2 {
    color: var(--white);
    font-size: 40px;
    height: 0;
    text-indent: -9999px;
    width: 0;
  }

  input {
    background: var(--black);
    border: 2px solid var(--light_border);
    border-radius: 50px;
    color: #f0eeeb;
    color: var(--light_bg);
    margin: 0 1% 5%;
    padding: 1rem 3rem 1rem 2rem;
    width: 98%;
  }
  button {
    background: #fff;
    border: 0;
    border-radius: 50%;
    color: var(—black);
    font-family: var(—subKor_font);
    font-size: 12px;
    height: 40px;
    position: absolute;
    right: 22px;
    top: 9px;
    transition: opacity 0.3s ease;
    width: 40px;
  }
}

// 애니메이션
// .unsplash__search,
// .unsplash__list {
//     opacity: 0;
//     transform: translateY(100px);
// }
